extends layout 

block main
    div.main__body.homepage
        h1.homepage__title= 'Homepage'
        if (message) 
            div.homepage__message #{message}
        div.homepage__info.info-homepage
            div.info-homepage__title This app allows you to
            ul.info-homepage__list
                li.info-homepage__item Read messages
                li.info-homepage__item Write a message (if you're logged in)
                li.info-homepage__item Get 'club member' status (must know secret password)
                li.info-homepage__item See authors and dates of messages (if you have 'jedi' status)
                li.info-homepage__item Get 'admin' status (must know secret password)
                li.info-homepage__item Delete messages (if you're an admin)
        